In [2]:
import pandas as pd

In [7]:
#correctly setting the header parameter by telling pandas to treat the second row (index "1") as the header

data = pd.read_csv("data.csv", header=1)
print(data.head())

   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
0   1      20000    2          2         1   24      2      2     -1     -1
1   2     120000    2          2         2   26     -1      2      0      0
2   3      90000    2          2         2   34      0      0      0      0
3   4      50000    2          2         1   37      0      0      0      0
4   5      50000    1          2         1   57     -1      0     -1      0

   ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0  ...          0          0          0         0       689         0
1  ...       3272       3455       3261         0      1000      1000
2  ...      14331      14948      15549      1518      1500      1000
3  ...      28314      28959      29547      2000      2019      1200
4  ...      20940      19146      19131      2000     36681     10000

   PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0         0         0         0                           1
1      1000         0      2000                           1
2      1000      1000      5000                           0
3      1100      1069      1000                           0
4      9000       689       679                           0

[5 rows x 25 columns]

In [10]:
#test

ageinvalid=data["AGE"]<25
age=data[ageinvalid]
print(age)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
7          8     100000    2          2         2   23      0     -1     -1
15        16      50000    2          3         3   23      1      2      0
16        17      20000    1          1         2   24      0      0      2
24        25      90000    1          1         2   23      0      0      0
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29274  29275     180000    1          1         2   23      0      0      0
29294  29295      50000    1          2         2   24      0      0      0
29342  29343      30000    1          2         2   24      1      2      2
29364  29365      20000    1          1         2   22     -2     -2     -2
29365  29366      50000    1          2         2   24      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
7          0  ...        221       -159        567       380       601
15         0  ...      28771      29531      30211         0      1500
16         2  ...      18338      17905      19104      3200         0
24        -1  ...       5398       6360       8292      5757         0
...      ...  ...        ...        ...        ...       ...       ...
29274      0  ...     129518     125868     121823      7000      6000
29294      0  ...      17827       7655       7881      5000      1700
29342      2  ...      22798      24420      23889      1700      1300
29364     -2  ...       1000        300          0         0       737
29365      0  ...      20658       9426       8215      2152      1209

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
7             0       581      1687      1542                           0
15         1100      1200      1300      1100                           0
16         1500         0      1650         0                           1
24         5398      1200      2045      2000                           0
...         ...       ...       ...       ...                         ...
29274      5000      5000      4416      4577                           0
29294      2000       500       500       500                           0
29342         0      2000         0      2001                           1
29364      1060       300         0         0                           0
29365      1080       438       434       390                           0

[2685 rows x 25 columns]